# Xcode
.DS_Store
build/
DerivedData/

# Xcode project user data
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# Environment configs
ShoppingItemApp/Config/Environment.xcconfig
ShoppingItemApp/Config/Environment-Local.xcconfig
